POSTGRES_DB=event-ticketing-platform-db
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_URL=jdbc:postgresql://event-ticketing-platform-db:5432/event-ticketing-platform-db
DB_USER=
DB_PASSWORD=

SERVER_PORT=8080

JWT_SECRET_KEY=
STRIPE_SECRET_KEY=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=event-ticketing-platform-message-broker
RABBITMQ_NODE_PORT=5672
RABBITMQ_MANAGEMENT_TCP_PORT=15672
RABBITMQ_CONFIG_FILE=/config/rabbitmq
