POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_URL=
DB_USER=
DB_PASSWORD=

jwt-secret-key=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=
RABBITMQ_NODE_PORT=
RABBITMQ_MANAGEMENT_TCP_PORT=
RABBITMQ_CONFIG_FILE
